In [1]:
import sqlite3
import pandas as pd

In [2]:
# Path to your SQLite database
db_path = "/Users/niveditavats/Documents/Projects_CC/equity_analytics_pipelines/database/investment_data.sqlite"

In [3]:
# Connect to the database
conn = sqlite3.connect(db_path)

In [4]:
# Read a sample from the merged table
df = pd.read_sql("SELECT * FROM merged_fundamentals_returns LIMIT 10", conn)

In [5]:
# Display it
df.head()

,gvkey,datadate,at,lt,sale,cogs,xint,xsga,oancf,symbol,book_equity,profitability,quarter,qtr_return
0,001410,2020-01-31 00:00:00.000000,3847.100,2287.40,1612.900,1422.000,10.200,115.900,-34.300,AAPL,1559.700,0.016844,2020Q1,-0.131952
1,001562,2020-01-31 00:00:00.000000,172.692,53.02,30.600,11.333,0.000,14.566,13.112,AAPL,119.672,0.027222,2020Q1,-0.131952
2,001618,2020-01-31 00:00:00.000000,97.314,6.96,5.287,3.932,0.005,0.587,0.652,AAPL,90.354,0.007841,2020Q1,-0.131952
3,001632,2020-01-31 00:00:00.000000,21376.827,9687.31,1303.565,358.716,48.813,416.353,349.648,AAPL,11689.517,0.022439,2020Q1,-0.131952
4,001704,2020-01-31 00:00:00.000000,19767.000,11107.00,4162.000,2215.000,59.000,798.000,987.000,AAPL,8660.000,0.055142,2020Q1,-0.131952